[submodule "pyslam/pyslam_core"]
	path = pyslam/pyslam_core
	url = git@github.com:Cott3r/pyslam-ocean.git
[submodule "openSfM/openSfM_core"]
	path = openSfM/openSfM_core
	url = git@github.com:Cott3r/OpenSfM-ocean.git
[submodule "seaseer-dashboard/public/potree"]
	path = seaseer-dashboard/public/potree
	url = https://github.com/potree/potree.git
[submodule "seaseer-dashboard/public/geo-three"]
	path = seaseer-dashboard/public/geo-three
	url = git@github.com:Cott3r/geo-three-ocean.git
