fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy[asyncio]
greenlet
asyncpg
psycopg2-binary
alembic
rq
redis
python-multipart
aiofiles
pytest
httpx
psutil
pillow
numpy
geoalchemy2
pyyaml
opencv-python-headless
